@page
@model Front.App.Presentacion.Pages.Saludo.politicas
@{
    ViewData["Title"] = "Contactanos";
}

<h1>@ViewData["Title"]</h1>

<div>
    <br>
    <h4>Desarrolladores</h4>
    <p>
        Luis Eduardo Marin Velasco 
        <br>
        <strong>Email: </strong>opraedu@gmail.com
        <br>
        <strong>LinkedIn: </strong><a href="https://www.linkedin.com/in/luis-marin-86275210b"> www.linkedin.com/in/luis-marin-86275210b</a>.</p>
    </p>
</div>