@page
@model Front.App.Presentacion.Pages.Saludo.login
@{
    ViewData["Title"] = "login";
}

<h1>@ViewData["Title"]</h1>

<div class="container mt-4 col-lg-4">
        <div class="card col-sm-10">
            <div class="card-body">
                <form name="frmLogin" class="form-sign" action="principal.html" method="post">
                    <div class="form-group text-center">
                        <h3>Login</h3>
                        <img src="https://statics.vayagif.com/images_common/trofeos/usuario.png" 
                        class="img-thumbnail" alt="logo_usuario"height="120" width="120">
                        <br>
                        <label>Bienvenidos al Sistema</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Usuario:</label>
                        <br>
                        <input type="text" name="txtusuario" id="usuario" class="form-control">
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Contraseña:</label>
                        <br>
                        <input type="password" name="txtpass" id="pass" class="form-control">
                    </div>
                    <br>
                    <input type="submit" value="Ingresar" name="accion" onclick="return validacampos();" class="btn btn-success">
                    <br>
                    </br>
                     <input type="submit" value="Registrarse" class="btn btn-primary btn-block">
                </form>
            </div>
        </div>
    </div>