@page
@model Front.App.Presentacion.Pages.Saludo.quienes_somos
@{
    ViewData["Title"] = "SotfParking";
}

<h1>@ViewData["Title"]</h1>

<div>
    <br>
    <p>
       <h4>Quienes Somos</h4>
       Somos el Equipo Mash, un grupo de programadores Juinior 
       del Grupo 36, en tercer ciclo de aprendizaje en <br>
        <strong>Desarrollo de software, de la universidad de caldas</strong>.
        Nuestro Equipo esta bajo la formacion de los Ingenieros
    </p> 
    <p>
        <em>Ingeniero Marcos Rafael Gomez Sierra</em>
        <br>
        <em>Ingeniero Julio Cesar Castaño Bustos</em>
        <br></br>
        Nuestros formadores fomentan nuestro aprendizaje en la creacion y desarollo de software de 
        calidad, <br> para la industria en la segunda era Digital 
    </p>
    <br>
    <p>
        <h4>Nuestros Objetivos</h4>
        El Equipo Mash tiene como objetivos:
        <br></br>
        <em>• El Desarrollo e implemtacion de una aplicacion Web para la automatizacion de los parqueaderos </em>
        <br>
        <em>• La creacion de una base de datos confiable para la aplicacion Web SoftParking</em>
        <br>
        <em>• La creacion de la interaccion entre el cliente y la aplicacion WEb SoftParking</em>
        <br>
        <em>• La entrega y puesta en funcionamiento de la aplicacion WEb SoftParking</em>
    </p>
    <br>
    <p>
        <h4>Nuestra Mision</h4>
        <br>
        <em>La mision principal SoftParking, es la implementacion total de su aplicativo Web, 
            <br> junto a una base de datos Fuerte y confiable, para finales del año 2022 cuyo alcance
            <br> comercial, supere las expectativas del mercado, siendo uno de los aplicativos Web 
            <br> mas importantes a nivel nacional  </em>
    </p>
        
    
</div>