@page
@model IndexModel
@{
    ViewData["Title"] = "SoftParking"; 
}
<div class="row">
    <div class="col-12">
        <img src="~/img/parking.jpg" class="img-fluid">
    </div>
    <h1>@ViewData["Title"]</h1>
<br></br>
<div>
    <p>
    <em>
        <h5>Deja que SoftParking encuentre tu estacionamiento por ti !</h5>
        SoftParking es el aplicativo Web que tu necesitas!!
        <br>
        te permitira apartar tu estacionamiento antes de llegar 
        <br>
        al local  con comodas tarifas de apartado evitandote 
        <br>
        la busqueda de un <strong>estacionamiento libre y seguro </strong> cerca a tu 
        <br>
        destino.
        <br> 
    </em>
</p>
</div>

<br></br>

<div>
    <p>
        <h5> Eres Emprendedor y No conoces nuestras ventajas</h5>
        <em>
        para ti emprendedor <strong>SoftParking </strong> 
        <br>
        sera la solucion para el automatizar tu empresa 
        <br>
        de manera mas eficiente con nuestro modelo de negocio agil 
        <br>
        permitiendo que tus clientes contacte con tigo 
        <br>
        antes de que llegue a tu estacionamiento ofreciendoles nuevas alternativas
        <br>
        te brindaremos asesoria a tu negocio dandote alternativas que se adecuan
        <br>
        a tu necesidades cumpliendo toda la normativa de ley establecida por el gobierno 
        <br>
        <strong>Que esperas Contaca con nosotros y lleva tu negocio a la nueva 
            <br>
            ala era digital.
        </strong> 
        </em>
    </p>
</div>
</div>
