@page
@model PrivacyModel
@{
    ViewData["Title"] = "Programa Mision Mintic 2022";
}
<h1>@ViewData["Title"]</h1>
<br>
<br>
<div class="div-faq">
    <p>
        MISIÓN TIC 2022 es una estrategia de formación específica en programación orientada a jóvenes 
        y ciudadanía en general, para ampliar las oportunidades en la construcción de trayectorias educativas
        y ocupacionales, garantizando el aprovechamiento de las oportunidades
        en el marco de las políticas de reactivación económica y economía naranja.
    </p>
    <p>
        <strong>Este programa de formación cuenta con dos rutas de aprendizaje:</strong>
    </p>
    <p>
        <strong>La ruta de aprendizaje 1 va dirigida a estudiantes de grados 10° y 11°</strong> 
        de establecimientos educativos oficiales del país. Los estudiantes podrán escoger entre fundamentos
        de programación y tecnologías digitales e industrias creativas digitales.
    </p>
    <p>
        <strong>Para la ruta 1, en la vigencia 2022 contamos con 10.000</strong>
        <strong>cupos</strong>
        </p>
        <p>
        <strong>La ruta de aprendizaje 2 va dirigida a los colombianos mayores de 15 años que cuenten
        con su título de bachiller y que se encuentren interesados en desarrollar habilidades en programación.</strong> 
        El programa está conformado por un ciclo básico de. formación 
        (programación básica, fundamentos de programación y desarrollo de software de 600 horas)
        y por un ciclo de profundización (desarrollo de aplicaciones web o desarrollo de aplicaciones móviles).
    </p>
    <p>
        <strong>Para la ruta 2 contamos con 40.000 cupos.</strong> 
        La selección tendrá en cuenta los mejores resultados de la prueba de conocimiento.
    </p>
    <p>
        <strong>Para las Rutas 1 y 2</strong> 
        MinTIC acatando la directriz impartida a través de la 
        <strong>Directiva Presidencial No. 11</strong>
        del 13 de octubre de 2020, promoverá la participación de las mujeres en el programa "Misión TIC 2022".
    </p>
    <p>
        Así mismo, se tendrá en cuenta para la Ruta 1 y 2, la 
        <strong>Directriz Presidencial No. 10</strong> 
        del 8 de octubre de 2020, con el fin de promover los beneficios del programa de Misión TIC 2022
        a los veteranos de la fuerza pública y sus beneficiarios.
    </p>
    <p>
        <em>De acuerdo al ámbito de aplicación de la Ley de veterano de la Fuerza Pública, se entenderá lo siguiente:</em>
    </p>
    <p>
        <strong><em>a) Veterano</em></strong><em>
        : Son los integrantes de la Fuerza Pública que cuentan con una asignación 
        de retiro, o pensionados por invalidez, o reservistas de honor; así como los que participaron
        en nombre de Colombia en conflictos internacionales o han sido reconocidos como víctimas por 
        hechos ocurridos en servicio activo o en razón del mismo.</em>
    </p>
    <p>
        <strong><em>b) Beneficiarios</em>
        </strong><em>: El núcleo familiar está compuesto por el (la) cónyuge o compañero (a) permanente 
        y los hijos hasta los veinticinco (25) años de edad, a falta de estos, sus padres.</em>
    </p>
</div>
